body {
    background-color: #C5DFF8;
}

#Mother-div {
    background-color: white;
    border-radius: 15px;
    width: 350px;
    height: 530px;
    margin: 250px auto 0 auto;
    text-align: center;
}

#Baby-div {
    background-color: #62CDFF;
    border-radius: 10px;
    width: 320px;
    height: 300px;
    margin: auto;
    position: relative;
    top: 13px;
}

#para {
    margin-left: 40px;
    margin-right: 40px;
    line-height: 20px;
}

h3 {
    margin-left: 60px;
    margin-right: 60px;
    line-height: 30px;
}